html {
  background-color: antiquewhite;
  p {
    color: red;
  }
}

.section {
  // タイトル
  &__title {
    &--h2 {
      position: retative;
      display: flex;
      width: 100%;
      max-width: 600px;
      height: auto;
      padding: 10px;
      margin: 0 0 20px;
      font-size: 20px;
      line-height: 1.25;
      color: #666;
      text-align: center;
      background: #eee;
      border-bottom: 1px solid #333;
      -ms-border-radius: 5px;
      border-radius: 5px;
      opacity: 1;
      transition: all 500ms 0s ease;   
    }
    &--h3 {
      font-size: 1.5rem;
    }
  }
  // パラグラフ
  &__paragraph {
    font-size: 1rem;
  }
}