<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, iusto iste debitis molestias laborum blanditiis quibusdam accusamus dolorem et ad similique nihil exercitationem voluptatibus hic aliquid fugiat ut libero esse.</p>
  <div>
    <span>sample</span>
  </div>
  <input type="checkbox">
  <span>check!</span>
</body>
</html>